body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-auto-goods {
  padding: 15px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}



.a-auto-goods {
  height: 30px;
  width: 100px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;
  border-style: solid;
  display: flex;          
  justify-content: center; 
  align-items: center;

}